/*
This CSS file is included on ever user-side page.
*/

/* Pending Action Layer */
.pendingActionLayer {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pendingActionLayer > .loader-container.centered {
    -webkit-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
}

/* Pending Action Layer (for buttons) */
.pendingActionButton {
    position: relative;
}

.pendingActionButtonLayer {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pendingActionButton.pendingAction .pendingActionButtonLayer {
    display: inline-block;
}

.pendingActionButtonLayer > .loader-container {
    left: 0;
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.pendingActionButtonLayer > .loader-container.centered {
    -webkit-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    top: calc(50% - -10px);
}

.pendingActionButtonLayer > .loader-container > .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    width: 25px;
    height: 25px;
}
